* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
 height:100%;
width:100%;
padding: 20px;
}

main{
    height: 500px;
    width: 600px;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(191, 191, 191);    
}

input{
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    border: none;
    border: 1px solid black;

}
#ad{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(73, 136, 255);
}

.con{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px solid;
    margin-top: 40px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(253, 255, 144);
    background-color: pink;

}

.li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;

    background-color: rgb(253, 255, 144);
}

#edit{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 163, 58);

}

#del{
 padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 51, 51);
}