* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
 height:100%;
width:100%;
display: flex;
justify-content: center;
align-items: center;
}

main{
    height: 60%;
    width: 80%;
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 20px;
}

.box{
    height: 60%;
    width: 20%;
    background-color: red;
    border-radius: 20px;
    border: 1px solid black;
}
