* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
 height:100%;
width:100%
}

main{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color:black;
    color: rgb(255, 255, 255);
    border: none;
}

.glow{
    background-color: yellow;
}