* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
 height:100%;
width:100%
}

.bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid rgb(61, 61, 61);
    margin-top: 30px;

}

button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    border: 1px solid;
    background-color: red;
    color: white;

}

main{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.lightUp{
    background-color: yellow;
}